$theme-color-1:#5fad56;
$theme-color-2:#f2c14e;
$theme-color-3:#f78154;
$theme-color-4:#4d9078;
$theme-color-4-hover:#367356;
$theme-color-5:#e6ebe0;
$accent-red:#F44336;
$font-color-dark:#707070;
$button-transition:cubic-bezier(1,.61,.26,.83);
$width-tablet:979px;
$width-mobile:525px;
$width-desktop:1200px;
$sidebar-transition:cubic-bezier(.4,.45,.71,.2);