@import './mixins';
@import './variables';
.sidebar{
       &__item{
        border-bottom:1px solid $theme-color-4-hover;
        transition:0.3s all $button-transition;
        display:flex;
        align-items:center;
        justify-content: flex-start;
        &:hover{
            background-color:$theme-color-4-hover;
        }
    }
    &__link{
        font-size:1.5rem;
        display:flex;
        padding:2rem 1.5rem;
        white-space:nowrap;
        align-items:center;
        justify-content: flex-start;
        width:100%;
         i{
        color:$theme-color-5;
        font-size:2rem;
        flex:0 0 10%;
        display:flex;
        justify-content:center;
        margin-right:1rem;
    }
    .icon-logout{
        color:$accent-red;
    }
    }
   
}