@import './variables';
@import './mixins';
@import './HamburgerBtn.scss';
.topbar{
    z-index:20;
    width:100%;
    position:relative;
    background-color:$theme-color-1;
    padding:1rem 3.5rem;
    height:7rem;
    @include flex-center-vert;
    justify-content:space-between;
    &__logo{
        @include flex-center-vert;
        font-size:2rem;
        color:$theme-color-5;
        font-weight:800;
        text-shadow:2px 3px 5px rgba(25,11,7,0.2);
        img{
            max-width:5rem;
            margin-right:0.75rem;
        }
    }
}