
.icon-chevron-right:before { content: '\e800'; } /* '' */
.icon-contact:before { content: '\e801'; } /* '' */
.icon-find-new:before { content: '\e802'; } /* '' */
.icon-hiscores:before { content: '\e803'; } /* '' */
.icon-invite:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-new-quiz:before { content: '\e806'; } /* '' */
.icon-your-account:before { content: '\e807'; } /* '' */
.icon-your-quizes:before { content: '\e808'; } /* '' */
.icon-dashboard:before { content: '\e809'; } /* '' */
